<div id="photos-container">
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
  <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
</div>
