<div id="equipe-container">
  <h2>Équipement</h2>
  <br>
  <div id="wrapper-icons">
    <div class="wrap-icon">
      <%= image_tag "icons/lit.png", class: "icon" %>
      <h3>Lits doubles</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/pq.png", class: "icon" %>
      <h3>Papier toilette</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/micro-onde.png", class: "icon" %>
      <h3>Micro-ondes</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/cafetiere.png", class: "icon" %>
      <h3>Cafetière</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/placard.png", class: "icon" %>
      <h3>Placard</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/pince-a-linge.png", class: "icon" %>
      <h3>Étendoir à linge</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/casserole.png", class: "icon" %>
      <h3>Equipement de cuisine</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/pain-grille.png", class: "icon" %>
      <h3>Grille-pain</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/couverture.png", class: "icon" %>
      <h3>Oreillers, couvertures</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/le-fer.png", class: "icon" %>
      <h3>Fer à repasser</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/la-vaisselle.png", class: "icon" %>
      <h3>Vaiselles et couverts</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/bbq.png", class: "icon" %>
      <h3>Plancha</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/douche.png", class: "icon" %>
      <h3>Douche à l’italienne</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/serviette-de-bain.png", class: "icon" %>
      <h3>Serviette de bain</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/lave-vaisselle.png", class: "icon" %>
      <h3>Lave-vaisselle</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/piscine.png", class: "icon" %>
      <h3>Piscine</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/machine-a-laver.png", class: "icon" %>
      <h3>Lave-linge</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/seche-cheveux.png", class: "icon" %>
      <h3>Sèche cheveux</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/cuisiniere-a-gaz.png", class: "icon" %>
      <h3>Cuisinière à gaz</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/wifi.png", class: "icon" %>
      <h3>Wifi</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/seche-linge.png", class: "icon" %>
      <h3>Sèche-linge</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/refrigerateur.png", class: "icon" %>
      <h3>Réfrigérateur</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/four.png", class: "icon" %>
      <h3>Four</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/plage.png", class: "icon" %>
      <h3>Vue mer</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/produits-de-bain.png", class: "icon" %>
      <h3>Produit de bain</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/congelateur.png", class: "icon" %>
      <h3>Congélateur</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/bouilloire-electrique.png", class: "icon" %>
      <h3>Bouilloire électrique</h3>
    </div>
    <div class="wrap-icon">
      <%= image_tag "icons/cache.png", class: "icon" %>
      <h3>Sans vis-à-vis</h3>
    </div>
  </div>
</div>
