<div id="first-section">
  <div id="title-img">
    <h1>- Casa Tropical -</h1>
    <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
    <hr id="hr-50">
  </div>
  <div id="link-presentation">
    <a href="#reserve-container">
      <span>Réserver  -  400€/nuit</span>
    </a>
    <hr id="hr-bottom-link">
    <div>
      <h2> - Présentation -</h2>
      <br>
      <p>Située au bord d’une falaise, en parfaite harmonie avec la nature locale, ce magnifique havre de paix propose une vue imprenable sur l’océan. Grâce à ses quatre chambres elle peut accueillir jusqu’a 8 voyageurs. Sa parfaite localisation permet un accès à la plage à quelques mètres. Pas envie d’aller à la plage ? Elle bénéficie d’une piscine extérieur, avec terrasse équipée, chaises longues, mobilier, cuisine et douche extérieures. Ce lieu spécialement aménagé pour vous, vous offrira un magnifique spectable et ressourcant au lever du soleil et ça, tout au long de votre journée. Calme, à l’abris des regards et des moustiques vous y passerez de superbes vacances. Cleyton le gardien vous accueillera à votre arrivé, son domicile est sur la propriété, il s’occupe de l’entretien du jardin, de la maison, ainsi que de l’intendance et restera à votre disposition tout au long de votre séjour. Maria sera la pour entretenir la maison ainsi que pour vous préparer le petit déjeuner ou le déjeuner au choix chaque jour sur demande de votre part. </p>
    </div>
  </div>
</div>

<div class="caroussel">
  <div class="slider-track">
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrasse.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrassearr.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrasseav2.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrassearr2.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/sunset.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/voile.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/planches.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/t-shirt.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrasse.jpg", crop: 'fill') %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrassearr.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrasseav2.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/terrassearr2.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/sunset.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/voile.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/planches.jpg") %>
    </div>
    <div class="slide">
      <%= cl_image_tag("Casa Tropical/t-shirt.jpg") %>
    </div>
  </div>
</div>
